@charset "utf-8";

.bread::after {
    content: "";
    display: table;
    clear: both;
}

.bread {

    padding: 2rem;
    background-color: rgba(236, 236, 236, 0.941);
    width: 100%;
    margin: 0;
    line-height: 5px;
}

.float {
    list-style-type: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0;
    height: 40px;
    padding-left: 5%;
    width: 100%;
}

.float>ul>input{
    color: rgb(117, 117, 117);
    height: 40px;
    width: 360px;
    border-color:1px, rgb(131, 65, 65);
}

.float>ul{
    list-style-type: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0;
    height: 40px;
    padding-left: 5%;
    width: 100%;
}
.float>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
